*{
    box-sizing: border-box;
}
body{
    box-sizing: border-box;
    -webkit-text-size-adjust: none;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: auto;
    background: url('../images/f93a9060-255c-4b44-aebd-84b641b56039.jpg') center top no-repeat #fff;
    background-size: cover;
}
input {
    outline: none;
    resize: none;
    vertical-align: middle;
    -webkit-appearance: none;
}
button {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
}

input::-ms-clear {
    display: none;
}

input::-ms-reveal {
    display: none;
}

.loginContainer{
    height: 450px;
    left: 0;
    margin: -230px auto 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 50%;
    width: 300px;
    background: rgba(0,0,0,0.3);
    padding:50px 0;
    border-radius: 4px;
}
.loginWrap{
    width: 600px;
    position: absolute;
    left: 0;
    top:150px;
}
.loginBox{
    width: 300px;
    float:left;
    overflow: hidden;
    padding:0 15px;
}
.loginBox input{
    margin:15px auto ;
}
.loginBox button{
    width: 100%;
    outline: none;
}
.loginBox button:checked,.loginBox button:active{
    outline: none;

}
#error{
    display: block;
    text-align: left;
    margin-top:220px;
}
.loginSuccess{
    font-size: 18px;
    text-align: center;
    color: #999;
    display: none;
}
.logo{
    background: url('../images/logobig.png') center center no-repeat transparent;
    width: 250px;
    height: 100px;
    margin: 0 auto;
    background-size:contain;
}
@media screen and (max-width: 2000px){
    body{
        box-sizing: border-box;
        -webkit-text-size-adjust: none;
        position: absolute;
        top:0;
        bottom: 0;
        left: 0;
        right: 0;
        overflow: auto;
        background: url('../images/f93a9060-255c-4b44-aebd-84b641b56039.jpg') center center no-repeat #fff;
    }
}